extends layout

block content
    div(class="movie")
        h1(class="movie title")= title
        h2(class="movie director")= movie.director
        h2(class="movie genre")= movie.genre
        h3(class="movie actors")= movie.actors
        p(class="movie description")= movie.description
    div(class="User Reviews")
        form(action=`/reviews/${movie.id}` method='')
            input(type='hidden' name='movieId' value=movie.movieId)
            button(type='submit')='Write a Review'
    div(class="All Reviews")
