extends layout

block content
    div(class="movie")
        img(src=`${movie.image}`)
        h1(class="movie title")= title
        input(type='hidden' name='hidden' class='hidden' value=`${movie.id}`)
        h2(class="movie director")= movie.director
        if movie.avgRating > 0
            h2(class='rating')= `Average Rating: ${movie.avgRating}`
        else
            h2(class='rating')= `Average Rating: Be The First To Rate!`
        h2(class="movie genre")= movie.genre
        h3(class="movie actors")= movie.actors
        p(class="movie description")= movie.description
    if favorite
        div(class="star gold")
            img(src=`/images/goldstar.png`)
    else
        div(class="star blank")
            img(src=`/images/blankstar.png`)
    div(class="User Reviews")
        if locals.authenticated
            form(action=`/reviews/${movie.id}` method='')
                button(type='submit')='Write a Review'
        else
        form(action='/login' method='get')
            button(type='submit')= 'Please login to write a review!'
        if reviews
        each review in reviews
            ul
                li= `${review.comment} - Review by: ${review.User.userName} - Rating: ${review.rating}`
                    if locals.user.id == review.userId
                        form(action=`/reviews/${review.id}/delete`, method="post")
                            input(type='hidden' name='_csrf' value=csrfToken)
                            button(type="submit" id=review.id) Delete
    script
            include ../scripts/movie-ajax.js
