extends layout

block content
    h3= title
    a(href=`/movies/${movie.id}`)= `${movie.title}`
    form(action=`/reviews/${movie.id}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label= 'My rating:'
        a(href='#' name='1-star')='1'
        a(href='#' name='2-star')='2'
        a(href='#' name='3-star')='3'
        a(href='#' name='4-star')='4'
        a(href='#' name='5-star')='5'
        label(for='review')= 'What are your thoughts?'
        textarea(cols='10' rows='12' name='comment' required)
        button(type='submit')= 'Post'
