extends layout

block content
    form(action='/signup' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for=firstName)= First Name:
        input(type=text name=firstName id=firstName value=firstName)
        label(for=lastName)= Last Name:
        input(type=text name=lastName id=lastName value=lastName)
        label(for=userName)= Username:
        input(type=text name=userName id=userName value=userName)
        label(for=email)= Email:
        input(type=email name=email id=email value=email)
        label(for=password)= Password:
        input(type=password name=password id=password value=password)
        label(for=confirmPassword)= Confirm Password:
        input(type=confirmPassword name=confirmPassword id=confirmPassword value=confirmPassword)
        button(type=submit class='btn submit-button') Create User
    div
        p: a(href='/login') Already registered?
