extends layout

block content
    div(class= 'collection-div ')
        h2 Horror
        each movie in horror
            li
                a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Action
        each movie in action
            li
                 a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Adventure
        each movie in adventure
            li
                a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Comedy
        each movie in comedy
            li
                a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Drama
        each movie in drama
            li
                a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Thriller
        each movie in thriller
            li
                a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Fantasy
        each movie in fantasy
            li
                a(href=`${movie.id}` class="movie title")= movie.title
    div(class= 'collection-div ')
        h2 Science Fiction
        each movie in sciFi
            li
                a(href=`${movie.id}` class="movie title")= movie.title
