extends layout

block content
    ul
        each movie in horror
            li= movie.title
        each movie in action
            li= movie.title
        each movie in adventure
            li= movie.title
        each movie in comedy
            li= movie.title
        each movie in drama
            li= movie.title
        each movie in thriller
            li= movie.title
        each movie in fantasy
            li= movie.title
        each movie in fantasy
            li= movie.title
        each movie in sciFi
            li= movie.title
